<script id='clientsCollectionTemplate' type='text/template'>

    <table class='table table-striped table-hover'>
        <tbody>
            <tr>
                <th scope="row">id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Delivery</th>
                <th>Cash</th>
                <th>Credit</th>
                <th>Country</th>
                <th>City</th>
                <th>Address</th>
                <th>Passport</th>
                <th>Email</th>
                <th>Skype</th>
                <th></th>
                <th></th>
            </tr>
            
        </tbody>
    </table>
    
</script>
