<script id='clientTemplate' type='text/template'>

    <tr>
        <th scope="row"><%= client_id %></th>
        <td><%= first_name %></td>
        <td><%= last_name %></td>
        <td><%= phone %></td>
        <td><%= delivery %></td>
        <td><%= cash %></td>
        <td><%= credit %></td>
        <td><%= country %></td>
        <td><%= city %></td>
        <td><%= address %></td>
        <td><%= passport %></td>
        <td><%= email %></td>
        <td><%= skype %></td>
        <td><span class="glyphicon glyphicon-edit" title="Edit" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-trash" title="Delete" aria-hidden="true"></span></td>
    </tr>
    
</script>
