<script id='clientPopupInfoTemplate' type='text/template'>

    <p><%= first_name %>  <%= last_name %></p>
    <hr>
    <ul>
        <li>Phone: <%= phone %></li>
        <li>Delivery: <%= delivery %></li>
        <li>Cash: <%= cash %></li>
        <li>Credit: <%= credit %></li>
        <li>Country: <%= country %></li>
        <li>City: <%= city %></li>
        <li>Address: <%= address %></li>
        <li>Passport: <%= passport %></li>
        <li>Email: <%= email %></li>
        <li>Skype: <%= skype %></li>
    </ul>

    <button class="btn btn-default removeVehicleFromClientButton">Remove Client</button

    
</script>
