<script id='searchSlidebarTemplate' type='text/template'>

    <p class='slidebarTitle'>Search</p>
    <form role="form" class="searchVehicleForm container-fluid">


        <div class="dividerLine">
            <span data-info='general-info-panel' class="dividerTitle">General Info</span>
        </div>

        <div class="form-group general-info-panel active-panel">
            <label for='minPriceInput'>Min Price</label>
            <input type="text" id="minPriceInput" class="form-control priceInput" name="minPrice" placeholder='$' />

            <label for='maxPriceInput'>Max Price</label>
            <input type="text" id="maxPriceInput" class="form-control priceInput" name="maxPrice" placeholder='$' />

            <label for='countryManufacturerInput'>Country</label>
            <input type="text" id="countryManufacturerInput" class="form-control" name="countryManufacturer" placeholder='' />

            <label for='manufacturerInput'>Manufacturer</label>
            <input type="text" id="manufacturerInput" class="form-control" name="manufacturer" placeholder='' />

            <label for='modelInput'>Model</label>
            <input type="text" id="modelInput" class="form-control" name="model" placeholder='' />

            <label for='modelYearInput'>Year</label>
            <input type="text" id="modelYearInput" class="form-control" name="modelYear" placeholder='' />

            <label for='bodyStyleInput'>Body Style</label>
            <input type="text" id="bodyStyleInput" class="form-control" name="bodyStyle" placeholder='' />

            <label for='seatingInput'>Seating</label>
            <input type="text" id="seatingInput" class="form-control" name="seating" placeholder='' />

            <label for='doorsInput'>Doors</label>
            <input type="text" id="doorsInput" class="form-control" name="doors" placeholder='' />
        </div>



        <div class="dividerLine">
            <span data-info='engine-info-panel' class="dividerTitle">Engine &amp; Transmission</span>
        </div>

        <div class="form-group engine-info-panel">
            <label for='standardEngineInput'>Engine</label>
            <input type="text" id="standardEngineInput" class="form-control" name="standardEngine" placeholder='' />

            <label for='fuelTypeInput'>Fuel Type</label>
            <input type="text" id="fuelTypeInput" class="form-control" name="fuelType" placeholder='' />

            <label for='transmissionInput'>Transmission</label>
            <input type="text" id="transmissionInput" class="form-control" name="transmission" placeholder='' />

            <label for='drivetrainInput'>Drivetrain</label>
            <input type="text" id="drivetrainInput" class="form-control" name="drivetrain" placeholder='' />
        </div>



        <div class="dividerLine">
            <span data-info='features-info-panel' class="dividerTitle">Features</span>
        </div>

        <div class="form-group features-info-panel">
            <label class="checkbox-inline">
                <input type="checkbox" id="airConditioningInput" name="airConditioning" value='yes'> Front Air Conditioning
            </label>

            <br>

            <label class="checkbox-inline">
                <input type="checkbox" id="cruiseControlInput" name="cruiseControl" value='yes'> Cruise Control
            </label>

            <br>

            <label class="checkbox-inline">
                <input type="checkbox" id="cupHolderInput" name="cupHolder" value='yes'> Cup Holder
            </label>

            <br>

            <label class="checkbox-inline">
                <input type="checkbox" id="navigationSystemInput" name="navigationSystem" value='yes'> Navigation System
            </label>

            <br>

            <label class="checkbox-inline">
                <input type="checkbox" id="handsFreePhoneInput" name="handsFreePhone" value='yes'> Handsfree Phone
            </label>

            <br>

            <label class="checkbox-inline">
                <input type="checkbox" id="powerSeatsInput" name="powerSeats" value='yes'> Power Seats
            </label>

            <br>

            <label class="checkbox-inline">
                <input type="checkbox" id="dvdEntertainmentSystemInput" name="dvdEntertainmentSystem" value='yes'> DVD Entertainment System
            </label>
        </div>

        <div class="alert alert-warning searchValidBlock" role="alert">You must fill at least one entry</div>

        <input class="btn btn-default findVehicleButton" type='submit' value='Find'>
        
    </form>
    
</script>
