<script id='searchSlidebarTemplate' type='text/template'>

    <p class='slidebarTitle'>Search</p>
    <form role="form" class="searchVehicleForm container-fluid">


        <div class="dividerLine">
            <span data-info='general-info-panel' class="dividerTitle">General Info</span>
        </div>

        <div class="form-group general-info-panel active-panel">
            <label for='priceInput'>Price</label>
            <input type="text" id="priceInput" class="form-control" name="price" placeholder='$' />

            <label for='countryManufacturerInput'>Country</label>
            <input type="text" id="countryManufacturerInput" class="form-control" name="countryManufacturer" placeholder='' />

            <label for='manufacturerInput'>Manufacturer</label>
            <input type="text" id="manufacturerInput" class="form-control" name="manufacturer" placeholder='' />

            <label for='modelInput'>Model</label>
            <input type="text" id="modelInput" class="form-control" name="model" placeholder='' />

            <label for='modelYearInput'>Year</label>
            <input type="text" id="modelYearInput" class="form-control" name="modelYear" placeholder='' />

            <label for='bodyStyleInput'>Body Style</label>
            <input type="text" id="bodyStyleInput" class="form-control" name="bodyStyle" placeholder='' />

            <label for='seatingInput'>Seating</label>
            <input type="text" id="seatingInput" class="form-control" name="seating" placeholder='' />

            <label for='doorsInput'>Doors</label>
            <input type="text" id="doorsInput" class="form-control" name="doors" placeholder='' />
        </div>



        <div class="dividerLine">
            <span data-info='engine-info-panel' class="dividerTitle">Engine &amp; Transmission</span>
        </div>

        <div class="form-group engine-info-panel">
            <label for='standardEngineInput'>Engine</label>
            <input type="text" id="standardEngineInput" class="form-control" name="standardEngine" placeholder='' />

            
        </div>
        
    </form>

    <!--
        price
        country
        manufacturer
        model
        year
        doors
        seating
        engine
        fuel type
        transmission (manual, automatic, cvt)
        drivetrain (FWD, AWD, 4WD, RWD)
        air conditioning
        cruise control
        cd changer
        cup holder
        navigation system
        hands free phone
        power seats
        power windows

        ...

        and others...

    -->
    
</script>
