<script id='vehicleFullDesctiptionTemplate' type='text/template'>
    <h2 class="vehicleTopTitle"><%= general.manufacturer + ' ' + general.model %></h2>
    <div class="fullDescription container-fluid">
        
        <div class="row">
            <img class='col-xs-6 col-sm-4 img-responsive vehicleImg' src='/resources/img/vehicle.jpg' alt='no-image' />

            <div class="col-xs-6 col-sm-8 listContainer">
                <span class="listTitle">General</span>
                <ul class="fullDescriptionList">
                    <li><%= 'VIN : ' + general.vin  %></li>
                    <li><%= 'Manufacturer : ' + general.manufacturer  %></li>
                    <li><%= 'Model : ' + general.model  %></li>
                    <li><%= 'Model Year : ' + general.model_year  %></li>
                    <li><%= 'Country Manufacturer : ' + general.country_manufacturer  %></li>
                    <li><%= 'Sequential Number : ' + general.sequential_number  %></li>
                    <li><%= 'Body Style : ' + general.body_style  %></li>
                    <li><%= 'Seating : ' + general.seating  %></li>
                    <li><%= 'Doors : ' + general.doors  %></li>
                    <li>Color: 
                        <span class='colorBlock' style='background-color: #<%= general.color %>'></span>
                    </li>
                    <li><%= 'Price : ' + product.price + '$'  %></li>
                </ul>
            </div>

        </div>

        <div class="dividerLine">
            <span class="dividerTitle">
                Technical Specs
            </span>
        </div>


        <div class="row">
            <div class="col-xs-6 col-sm-6 listContainer">
                <span class="listTitle">Engine &amp; Transmission</span>
                <ul class="fullDescriptionList">
                    <li><%= 'Standard Engine : ' + engine_transmission.standard_engine  %></li>
                    <li><%= 'Horsepower : ' + engine_transmission.horsepower  %></li>
                    <li><%= 'Torgue : ' + engine_transmission.torgue  %></li>
                    <li><%= 'Max Engine Speed : ' + (engine_transmission.max_engine_speed || '')  %></li>
                    <li><%= 'Transmission : ' + engine_transmission.transmission  %></li>
                    <li><%= 'Drivetrain : ' + engine_transmission.drivetrain  %></li>
                    <li><%= 'Gas Mileage : ' + engine_transmission.gas_mileage  %></li>
                    <li><%= 'Compression Ratio : ' + (engine_transmission.compression_ratio || '')  %></li>
                    <li><%= 'Fuel Type : ' + engine_transmission.fuel_type  %></li>
                    <li><%= 'Total Number Valves : ' + (engine_transmission.total_number_valves || '')  %></li>
                    <li><%= 'Bore x Stroke : ' + (engine_transmission.bore_x_stroke || '')  %></li>
                </ul>
            </div>

            <div class="col-xs-6 col-sm-6 listContainer">
                <span class="listTitle">Dimension &amp; Capacity</span>
                <ul class="fullDescriptionList">
                    <li><%= 'Truck Bed Volume : ' + (dimension_capacity.truck_bed_volume || '')  %></li>
                    <li><%= 'Fuel Capacity : ' + dimension_capacity.fuel_capacity + ' gal.'  %></li>
                    <li><%= 'Overall Length : ' + dimension_capacity.overall_length + ' in.' %></li>
                    <li><%= 'Width : ' + dimension_capacity.width + ' in.'  %></li>
                    <li><%= 'Height : ' + dimension_capacity.height + ' in.'  %></li>
                    <li><%= 'Curb Weight : ' + dimension_capacity.curb_weight + ' lbs.'  %></li>
                    <li><%= 'Tires / Wheel Size : ' + dimension_capacity.tires_wheel_size  %></li>
                    <li><%= 'Rear Tires / Wheel Size : ' + (dimension_capacity.rear_tires_wheel_size || '')  %></li>
                    <li><%= 'Wheel Base : ' + dimension_capacity.wheel_base + ' in.'  %></li>
                    <li><%= 'Spare Tire : ' + (dimension_capacity.spare_tire || '')  %></li>
                    <li><%= 'Wheel Type : ' + dimension_capacity.wheel_type  %></li>
                    <li><%= 'Turning Radius : ' + ((dimension_capacity.turning_radius === null) ? '' : + dimension_capacity.turning_radius + ' ft.')  %></li>
                    <li><%= 'Axle Ratio : ' + (dimension_capacity.axle_ratio || '')  %></li>
                    <li><%= 'Ground Clearance : ' + ((dimension_capacity.ground_clearance !== null) ? dimension_capacity.ground_clearance + ' in.' : '')  %></li>
                    <li><%= 'GVWR : ' + (dimension_capacity.gvwr || '')  %></li>
                    <li><%= 'Maximum Towing : ' + ((dimension_capacity.maximum_towing === null) ? '' : + dimension_capacity.maximum_towing + ' lbs.')  %></li>
                    <li><%= 'Payload Base Capacity : ' + ((dimension_capacity.payload_base_capacity === null) ? '' : + dimension_capacity.payload_base_capacity + ' lbs.')  %></li>
                </ul>
            </div>

        </div>


        <div class="dividerLine">
            <span class="dividerTitle">
                Features &amp; Safety
            </span>
        </div>


        <div class="row">
            <div class="col-xs-6 col-sm-6 listContainer">
                <span class="listTitle">Interior</span>
                <ul class="fullDescriptionList">
                    <li><%= 'Front Air Conditioning : ' + interior.front_air_conditioning  %></li>
                    <li><%= 'Front & Rear Air Conditioning : ' + interior.front_rear_air_conditioning  %></li>
                    <li><%= 'Cruise Control : ' + interior.cruise_control  %></li>
                    <li><%= 'AM/FM Radio : ' + interior.am_fm_radio  %></li>
                    <li><%= 'Cassette : ' + interior.cassette  %></li>
                    <li><%= 'Compact Disc : ' + interior.compact_disc  %></li>
                    <li><%= 'CD Changer : ' + interior.cd_changer  %></li>
                    <li><%= 'Premium Radio : ' + interior.premium_radio  %></li>
                    <li><%= 'DVD Entertainment System : ' + interior.dvd_entertainment_system  %></li>
                    <li><%= 'Cup Holder : ' + interior.cup_holder  %></li>
                    <li><%= 'Leather : ' + interior.leather  %></li>
                    <li><%= 'Navigation System : ' + interior.navigation_system  %></li>
                    <li><%= 'Privacy Glass : ' + interior.privacy_glass  %></li>
                    <li><%= 'Hands Free Phone : ' + interior.hands_free_phone  %></li>
                    <li><%= 'Power Locks : ' + interior.power_locks  %></li>
                    <li><%= 'Power Outlets : ' + interior.power_outlets  %></li>
                    <li><%= 'Power Mirrors : ' + interior.power_mirrors  %></li>
                    <li><%= 'Remote Mirrors : ' + interior.remote_mirrors  %></li>
                    <li><%= 'Power Seats : ' + interior.power_seats  %></li>
                    <li><%= 'Dual Power Seats : ' + interior.dual_power_seats  %></li>
                    <li><%= 'Folding Rear Seat : ' + interior.folding_rear_seat  %></li>
                    <li><%= 'Moon Roof : ' + interior.moon_roof  %></li>
                    <li><%= 'Sun Roof : ' + interior.sun_roof  %></li>
                    <li><%= 'Remote Keyless Entry : ' + interior.remote_keyless_entry  %></li>
                    <li><%= 'Rear Window Defroster : ' + interior.rear_window_defroster  %></li>
                    <li><%= 'Tilt Wheel : ' + interior.tilt_wheel  %></li>
                    <li><%= 'Tachometer : ' + interior.tachometer  %></li>
                    <li><%= 'Traction Control : ' + interior.traction_control  %></li>
                    <li><%= 'Power Windows : ' + interior.power_windows  %></li>
                </ul>
            </div>

            <div class="col-xs-6 col-sm-6 listContainer">
                <span class="listTitle">Exterior</span>
                <ul class="fullDescriptionList">
                    <li><%= '2W Antilock Brakes : ' + exterior.w2_antilock_brakes  %></li>
                    <li><%= '4W Antilock Brakes : ' + exterior.w4_antilock_brakes  %></li>
                    <li><%= 'Brakes: Front : ' + exterior.brakes_front  %></li>
                    <li><%= 'Brakes: Rear : ' + exterior.brakes_rear  %></li>
                    <li><%= 'Luggage Rack : ' + exterior.luggage_rack  %></li>
                    <li><%= 'Upgraded Wheels : ' + exterior.upgraded_wheels  %></li>
                </ul>
            </div>

            <div class="col-xs-6 col-sm-6 listContainer">
                <span class="listTitle">Safety Features</span>
                <ul class="fullDescriptionList">
                    <li><%= 'Airbags : ' + safety_features.airbags  %></li>
                    <li><%= 'Child Door Locks : ' + safety_features.child_door_locks  %></li>
                    <li><%= 'Child Seat Anchors : ' + safety_features.child_seat_anchors  %></li>
                    <li><%= 'Integrated Child Seat : ' + ((safety_features.integrated_child_seat === null)? '' : safety_features.integrated_child_seat)  %></li>
                    <li><%= 'Alarm System : ' + safety_features.alarm_system  %></li>
                    <li><%= 'Engine Immobilizer : ' + safety_features.engine_immobilizer  %></li>
                </ul>
            </div>
        </div>
        

        

        
        
        
    </div>
</script>
